<div>
	<button (click)=toggleTableView()>{{ showTable?"Hide Table View":"Show Table View" }}</button>
	<div class="submission-data" *ngIf=!showTable>
		<ul>
			<h1 class="headings">Python Submissions</h1>
			<li *ngFor="let record of recentPython" [ngClass]="record.Zone" class="record" [class.selected]="record.Name === selectedStudent">
				<ul (click)=timeline(record.Id,record.Name)>
					<li>
						{{	record.Name }}
					</li>
					<li>{{ record.ExerciseName }}</li>
					<li>{{ record.Time  }}</li>
				</ul>
			</li>
		</ul>
		<ul>
			<h1 class="headings">HTML/CSS Submissions</h1>
			<li *ngFor="let record of recentHtml" [ngClass]="record.Zone" class="record" [class.selected]="record.Name === selectedStudent">
				<ul (click)=timeline(record.Id,record.Name)>
					<li>
						{{	record.Name }}
					</li>
					<li>{{ record.ExerciseName }}</li>
					<li>{{ record.Time  }}</li>
				</ul>
			</li>
		</ul>
		<ul>
			<h1 class="headings">JS Submissions</h1>
			<li *ngFor="let record of recentJs" [ngClass]="record.Zone" class="record" [class.selected]="record.Name === selectedStudent">
				<ul (click)=timeline(record.Id,record.Name)>
					<li>
						{{	record.Name }}
					</li>
					<li>{{ record.ExerciseName }}</li>
					<li>{{ record.Time  }}</li>
				</ul>
			</li>
		</ul>
		<ul *ngIf="studentSubmissions">
			<h1 class="headings">{{selectedStudent}}</h1>
			<li *ngFor="let submission of studentSubmissions" [ngClass]="submission['Approval Status'] ? (submission['Approval Status'] == 'Yes' ? 'approved' : 'rejected') : 'pending'" class="record">
				<ul>
					<li>{{submission["ExerciseName"]}}</li>
					<li>{{submission["Submission Date & Time"] | date}} </li>
				</ul>
			</li>
		</ul>		
	</div>
	<table *ngIf=showTable border="1px">
		<tr>
			<td>
				JS
			</td>
			<td *ngFor="let student of students">
				{{studentNames[student['id']]}}
			</td>
		</tr>

		<tr *ngFor="let exercise of jsExercises">
			<td>
				{{exerciseNames[exercise['id']]}}
			</td>
			<td *ngFor="let student of students" [ngClass]="studentExerciseGrid[student['id']][exercise['id']]" class="cell">
			</td>
		</tr>

	</table>
	<table *ngIf=showTable border="1px">
		<tr>
			<td>
				PYTHON
			</td>
			<td *ngFor="let student of students">
				{{studentNames[student['id']]}}
			</td>
		</tr>

		<tr *ngFor="let exercise of pythonExercises">
			<td>
				{{exerciseNames[exercise['id']]}}
			</td>
			<td *ngFor="let student of students"
				[ngClass]="studentExerciseGrid[student['id']][exercise['id']]"
				class="cell">
			</td>
		</tr>

	</table>
	<table *ngIf=showTable border="1px">
		<tr>
			<td>
				HTML
			</td>
			<td *ngFor="let student of students">
				{{studentNames[student['id']]}}
			</td>
		</tr>

		<tr *ngFor="let exercise of htmlExercises">
			<td>
				{{exerciseNames[exercise['id']]}}
			</td>
			<td *ngFor="let student of students" [ngClass]="studentExerciseGrid[student['id']][exercise['id']]" class="cell">
			</td>
		</tr>
	</table>
</div>